<%= render 'shared/header', header: 'Here Are the Posts' %>

<ul>
	<% @posts.each do |post| %>
		<li><%= link_to post.title, post_path(post) %>
			<% if logged_in? %>
				<small><%= link_to '(edit)', edit_post_path(post) %></small>
			<% end %>	
		</li>

	<% end %>

</ul>
